$font-family-base: "Open Sans", sans-serif !default;
$font-size-base: 1rem !default;

$space-base: 10px !default;
$space-double: 20px !default;

$white: #fff !default;
$gray-light: #e9ebee !default;
$gray: #ccc !default;
$gray-dark: #343434 !default;

$primary-color: #3b5998 !default;
$secondary-color: #42b72a !default;
